<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>parent_info</title>
</head>
<body>
<div align="center">
<h1>Welcome to Parents_Page</h1>

    {%if data %}
    <table border="1">
    <tr>
        <th>ID</th>
        <th>First_name</th>
        <th>Last_name</th>
    </tr>
    {% for d in data %}
    <tr>
        <td>{{d.id}}</td>
        <td>{{d.first_name}}</td>
        <td>{{d.last_name}}</td>
    </tr>
    {% endfor %}

    {%else%}
    <h1>NO data Recived!!</h1>
    {%endif%}

</div>
</body>
</html>